.image-row {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.h1 {
    padding-top: 50px;
}
#paragraph1 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.three-images {

}
.col-sm {
    max-width: 500px;
}
.photography {
    padding-top: 50px;
    padding-bottom:50px;
}
.photography-col {
    padding-left: 60px;
}
.footer {
    background-color: #333333;
    height: 120px;
}
.quote {
    padding-right: 50px;
}
.socialmedia {
    padding-top: 20px;
}
.col-6 {
    width: 600px;
}
.experience {
    padding-top: 100px;
    padding-bottom: 150px;
}
.experienceh2 {
    padding-bottom: 30px;
}
.learnmore {
    padding-top: 30px;
}
.info {

}
.dropdown-menu { background-color: #c8cbcf; }
.maincontain {
    padding-top: 50px;
    padding-bottom: 50px;
}
.headercontain {
    padding-top: 20px;
    padding-bottom: 20px;
}
.universitypara {
    padding-top: 20px;
    padding-bottom: 50px;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
}
.experiencediv {
    padding: 100px;
}
.goldcontainer {
    background-color: #bdb683;
    height: 600px;
}
.universitypara2 {
    padding:100px;
}
.landscapeimgs {
    padding-top: 50px;
}
#vue {
    background-color: black;
}
.nav-link {
    width: 250px;
    padding-left: 50px;
    padding-right: 50px;
}
.black {
    background-color: black;
    padding-bottom: 50px;
}
.padding {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
    padding-bottom: 150px;
}
.x {
    text-align: center;
    padding-top: 200px;
}
.paragraph-wrapper {
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 10px;
}
.image-wrapper {
    padding-bottom: 50px;
}
.headline-wrapper {

}
.stuff {
    padding-top: 50px;
    padding-bottom: 50px;
}
.grey {
    padding: 150px;
    background-color: #202326;
}
.grey2 {
    background-color: #c6cfd2;
}
.serena {
    padding-bottom: 50px;
}
.body-wrapper {
    padding-bottom: 50px;
}
.parent {
    padding-left: 50px;
    padding-right: 50px;
}
.photoexp {
    padding-bottom: 50px;
}